$AzulOscuro: #050038;
$BlancoCrema: #FEFAE0;
$VerdeBosque: #283618;
$Rosa: #da00e5;
$Rosa2:#c800ff ;
$AmarilloCrema: #F3FF86;
$AmarilloCrema2: #FFFFAB;
$VerdeBosqueClaro: #606c38;
$Crema: #DDA15E;
$Crema2: #eeb686;
$Negro: #000;
$Blanco: #fff;
$Violeta: blueviolet;
$NegroAzulado: #030028;
$VerdeClaro: #99a670;
$VerdeClaro2: #8c9c59;
$NegroTransparente: #00000080;
$Hueso: #f1f1f1;
$PielCrema: antiquewhite;
$Marron: #572b05 ;
$Lila: #8D80AD;
$MarronTransparente: #39210c7b;
$Naranja: #d28400;
$NaranjaCrema: #DDA15E;
$OroOpaco: #715900;
$NegroTransparente2: #00000066;
